[submodule "module/yosys"]
	path = module/yosys
	url = https://github.com/The-OpenROAD-Project/yosys.git
[submodule "module/tapcell"]
	path = module/tapcell
	url = https://github.com/The-OpenROAD-Project/tapcell.git
[submodule "module/TritonRoute"]
	path = module/TritonRoute
	url = https://github.com/The-OpenROAD-Project/TritonRoute.git
[submodule "module/Resizer"]
	path = module/Resizer
	url = https://github.com/The-OpenROAD-Project/Resizer.git
[submodule "module/RePlAce"]
	path = module/RePlAce
	url = https://github.com/The-OpenROAD-Project/RePlAce
[submodule "module/pdn"]
	path = module/pdn
	url = https://github.com/The-OpenROAD-Project/pdn.git
[submodule "module/OpenDP"]
	path = module/OpenDP
	url = https://github.com/sanggido/OpenDP.git
[submodule "module/magic"]
	path = module/magic
	url = https://github.com/The-OpenROAD-Project/magic.git
[submodule "module/TritonMacroPlace"]
	path = module/TritonMacroPlace
	url = https://github.com/The-OpenROAD-Project/TritonMacroPlace.git
[submodule "module/ioPlacer"]
	path = module/ioPlacer
	url = https://github.com/The-OpenROAD-Project/ioPlacer.git
[submodule "module/FastRoute4-lefdef"]
	path = module/FastRoute4-lefdef
	url = https://github.com/The-OpenROAD-Project/FastRoute4-lefdef.git
[submodule "module/TritonCTS"]
	path = module/TritonCTS
	url = https://github.com/The-OpenROAD-Project/TritonCTS.git
