[submodule "module/yosys"]
	path = module/yosys
	url = https://github.com/The-OpenROAD-Project/yosys.git
[submodule "module/tapcell"]
	path = module/tapcell
	url = https://github.com/The-OpenROAD-Project/tapcell.git
[submodule "module/TritonRoute"]
	path = module/TritonRoute
	url = https://github.com/The-OpenROAD-Project/TritonRoute.git
[submodule "module/Resizer"]
	path = module/Resizer
	url = https://github.com/The-OpenROAD-Project/Resizer.git
[submodule "module/RePlAce"]
	path = module/RePlAce
	url = https://github.com/The-OpenROAD-Project/RePlAce
[submodule "module/pdn"]
	path = module/pdn
	url = https://github.com/The-OpenROAD-Project/pdn.git
